<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
</head>
<body>
    <h1 align="center">Index page</h1>
    <a href="{%url 'User:register'%}">Register - User</a> 
    <br><br><br>
    <a href="{%url 'User:user_list'%}">Registered - user_list</a> 
    <br><br><br>
    <a href="{%url 'Vlog:add_vlog'%}">Vlog - add_vlog</a> 
    <a href="{%url 'Vlog:vlog_list'%}">Vlog - vlog_list</a> 
  
</body>
</html>